* {
    margin: 0;
    padding: 0;
    user-select: none;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";;
}

a {
    color: #ccc;
    text-decoration: none;
}

#a{
    color: #fff!important;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    transition: 0s;
}

#logo:hover {
    color: #238636;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2a2a2a;
    height: 55px;
    border-bottom: 1px solid #353535;
}

.nav-list {
    margin-left: 40%;
    height: 54px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#version {
    margin-left: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #ccc;
    background-color: #238636;
    border-radius: 4px;
    padding: 1px 5px;
    position: relative;
}

.nav-list li {
    height: 100%;
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

.nav-list li:hover {
    border-bottom: 2px solid #238636;
    transition: 0.6s;
    background-color: #353535;
}

.dark-mode {
    background-color: rgb(255, 255, 255) !important;
    color: #154bbb !important;
}

.dark-mode2{
    background-color: #154bbb !important;
    color: rgb(255, 255, 255) !important;
}

.dark-mode3 {
    background-color: rgb(255, 255, 255) !important;
    color: #154bbb !important;
    box-shadow: 0px -3px 0px rgba(16, 16, 16, 30%) inset !important;
}

.dark-mode3:hover {
    box-shadow: 0px -4px 0px rgba(16, 16, 16, 30%) inset !important;
}

#inicio {
    border-bottom: 2px solid #238636;
}

#login {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
}

#mode {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
}

#mode_active {
    color: #e7e7e7;
    font-size: 20px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    border-radius: 5px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

body {
    background-color: #131313;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    border: none;
}

#container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90vw;
    height: 100%;
    box-sizing: border-box;
    background-color: #2a2a2a;
    border-radius: 10px 10px 8px 8px;
}

#menu-container {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

#titulo-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7e7;
    font-size: 20px;
    width: 53px;
    height: 40px;
    background-color: #131313;
    border-radius: 6px 6px 6px 6px;
    border: solid 1px #353535;
    position: relative;
    left: -46.5%;
}

#pagina-inicio {
    width: 100%;
    min-height: 100vh;
    background-color: #353535;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
  }
  

.nav-list.active {
    transform: translateX(0);
}

@media (max-width: 1100px) {
    body {
        height: 100%;
        overflow: hidden !important;
        width: 100%;
        position: fixed;
    }

    .nav-list {
        z-index: 1;
        position: fixed;
        top: 55px;
        right: 0;
        width: 100vw;
        height: 100%;
        background: #131313;
        display: block;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
    }
    #mode {
        font-size: 30px;
    }
    #login {
        font-size: 30px;
    }
    #titulo-pagina {
    margin-left: 50px;
    width: 55px;
    }

    .nav-list li {
        margin-top: 70px;
        margin-bottom: 50px;
        margin-left: 0;
        opacity: 0;
        height: auto;
        font-size: 25px;
    }
    .nav-list li:hover{
        background-color: transparent;
        border-bottom: transparent;

    }
    .mobile-menu {
        display: block;
    }
    #inicio {
        border: 0px;
    }
    #inicio:hover{
        background-color: transparent;
    }


}