* {
  margin: 0;
  padding: 0;
  user-select: none;
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";;
 font-size: 15px;
}

body{
  width: 100%;
  height: 100vh;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container{
  background-color: #2a2a2a;
  width: 30%;
  min-width: 300px;
  height: 60%;
  min-height: 400px;
  border-radius: 6px;
}

.header{
  display: flex;
  border-radius: 6px 6px 0px 0px;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #238636;
}


#titulologin{
  color: rgb(82, 82, 82);
  font-size: 25px;
}

#titulo{
  color: rgb(82, 82, 82);
}

.div-input{
  margin-right: 20px;
  width: 90%;
  height: 40px;
  background-color: #131313;
  border-radius: 6px 6px 6px 6px;
  border: solid 1px #353535;
  margin-left: 5%;
}

.fundo-input{
  width: 100%;
  height: 200px;
  display: grid;
  align-items: center;

}

#login, #senha, #email{
  margin-left: 5%;
  background-color: transparent;
  border: none;
  outline: none;
  width: 95%;
  height: 100%;
  color: white;
}

#subimit{
  background-color: #131313;
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  height: 60px;
  border: none;
  border-radius: 6px;
}

#subimit:hover{
  background-color: #238636;
  color: #131313;
}

#subimit:hover #titulo{
  color: #2a2a2a;
}

.div-subimit{
  display: flex;
  align-items: center;
  justify-content: center;
}

#conta{
  width: 70%;
  text-decoration: none;
}

#conta #titulo:hover{
  color:#238636;
  transition: 0.5s;
}
