@font-face {
  font-family: "custom-font";
  src: url("KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2"),
}

* {
  margin: 0;
  padding: 0;
  font-family: "custom-font",sans-serif;
  box-sizing: border-box;
}


a {
  color: #e7e7e7;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.logo:hover{
  color: #154bbb;
}

#version{
  margin-left: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #e7e7e7;
  background-color: #154bbb;
  border-radius: 4px;
  padding: 1px 5px;
  position: relative;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #2a2a2a;
  height: 55px;
  box-shadow: -4px 0 30px black;
}


.nav-list {
  margin-left: 40%;
  height: 54px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-list li {
  height: 100%;
  display: flex;
  padding: 0 20px 0 20px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.nav-list li:hover{
  box-shadow: 0px -4px 0px #154bbb inset;
  transition: 0.3s;
}

#login{
  color: #e7e7e7;
  margin-left: 30px;
  margin-right: 30px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

body{
  background-color: #131313;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px 10px 10px 10px;
  background-color: #2a2a2a;
  box-shadow: 0px 0px 30px black;
  width: 70vw;
  height: 100%;
  box-sizing: border-box;
}
#menu-container{
  width: 100%;
  height: 70px;
  background-color: #1a1a1a;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-menu{
  margin-right: 20px;
  width: 40%;
  height: 40px;
  background-color: #2a2a2a;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -4px 0px #131313 inset;
  display: flex;
  align-items: center;
}

#input-menu:hover{
  box-shadow: 0px -4px 0px #154bbb inset;
  transition: 0.2s;
  border-radius: 5px 5px 0 0;
}

#lupa{
  margin-left: 5px;
}

#search{
  margin-bottom: 4px;
  width: 90%;
  height: 80%;
  background-color: transparent;
  border: none;
  outline: 0;
  color: #e7e7e7;
  font-size: 18px;
}

.div-jogos{
  height: 100%;
  width: 100%;
  margin: 3.5%
}

.jogos {
  height: 200px;
  width: 200px;
  margin: 1%;
  background-color: #131313;
  box-shadow: 0px 0px 30px black;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.jogos:hover{
  background-color: #154bbb;
  box-shadow: 0px 0px 50px #154bbb;
  transition: 0.5s;
  z-index: 1;
}

.imagem{
  position: relative;
  border-radius: 5px;
  width: 90%;
  height: 90%;
}


#titulo-pagina{
  display: flex;
  align-items: center;
  margin-right: 50%;
  color: #e7e7e7;
  text-decoration: none;
  font-size: 20px;
}
#game{
  margin-right: 5px;
  margin-top: -3px;
}

#mode{
  margin-left: 30px;
  color: #e7e7e7;
  font-size: 20px;
  cursor: pointer;
}

#login{
  color: #e7e7e7;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
}

.titulojogo{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #e7e7e7;
  font-weight: bold;
  background-color: #131313;
  margin-top: 150px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  z-index: -1;
  transition: 0.5s;
}

.jogos:hover .titulojogo{
  background-color: #154bbb;
  transition: 0.5s;
  z-index: 1;
}

.nav-list.active {
  transform: translateX(0);
}

@media (max-width: 999px) {

  #titulo-pagina{
    margin-right: 40%;
  }
  #container{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: #2a2a2a;
    width: 95vw;
    height: 100%;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }
  .nav-list {
    z-index: 1;
    position: absolute;
    top: 55px;
    right: 0;
    width: 100vw;
    height: 150vh;
    background: #131313;
    flex-direction: column;
    align-items: center;
    justify-content: grid;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .jogos{
    width: 140px;
    height: 140px;
  }

  #mode{
    color:transparent
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .mobile-menu {
    display: block;
  }
  .nav-list li:hover{
    box-shadow: 0px 0px 0px transparent inset;
  }

  .titulojogo{
    width: 140px;
    height: 140px;
    margin-top: 0;
  }
}