@font-face {
    font-family: "custom-font";
    src: url("KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2"),
}

* {
    margin: 0;
    padding: 0;
    font-family: "custom-font", sans-serif;
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    color: #e7e7e7;
    text-decoration: none;
    transition: 0.3s;
}

#jogos {
    box-shadow: 0px -3px 0px #154bbb inset;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.logo:hover {
    color: #154bbb;
}

#version {
    margin-left: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #e7e7e7;
    background-color: #154bbb;
    border-radius: 4px;
    padding: 1px 5px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #2a2a2a;
    height: 55px;
    box-shadow: -4px 0 10px black;
}

.nav-list {
    margin-left: 40%;
    height: 54px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    height: 100%;
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.nav-list li:hover {
    box-shadow: 0px -3px 0px rgba(16, 16, 16, 0.5) inset;
    transition: 0.3s;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

body {
    background-color: #131313;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #2a2a2a;
    box-shadow: 0px 0px 10px black;
    width: 90vw;
    height: 100%;
}

#menu-container {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-menu {
    margin-right: 20px;
    width: 80%;
    height: 40px;
    background-color: #2a2a2a;
    box-shadow: 0px -3px 0px #131313 inset;
    display: flex;
    align-items: center;
}

#input-menu:hover {
    box-shadow: 0px -5px 0px rgba(16, 16, 16, 0.9) inset;
    transition: 0.2s;
}

#lupa {
    margin-left: 5px;
}

#search {
    margin-bottom: 4px;
    width: 90%;
    height: 80%;
    background-color: transparent;
    border: none;
    outline: 0;
    color: #e7e7e7;
    font-size: 18px;
}

.div-jogos {
    height: 100%;
    width: 100%;
    text-align: center;
}

.jogos {
    height: 200px;
    width: 200px;
    margin: 1%;
    background-color: #131313;
    box-shadow: 0px 0px 30px black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    text-align: center;
}

.jogos:hover {
    background: linear-gradient(100deg, rgba(0, 58, 183, 1) 0%, rgba(0, 102, 193, 1) 100%);
    box-shadow: 0px 0px 50px #154bbb;
    transition: 0.2s;
    z-index: 1;
}

.imagem {
    position: relative;
    width: 90%;
    height: 90%;
}

#titulo-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50%;
    color: #e7e7e7;
    text-decoration: none;
    font-size: 20px;
    width: 105px;
    height: 50px;
    background-color: rgb(46, 46, 46);
    box-shadow: 0px 3px 0px #154bbb;
}

#login {
    color: #e7e7e7;
    font-size: 20px;
    cursor: pointer;
}

#mode {
    color: #e7e7e7;
    font-size: 20px;
    cursor: pointer;
}

.titulojogo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #e7e7e7;
    font-weight: bold;
    background-color: #131313;
    margin-top: 150px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    z-index: -1;
}

.jogos:hover .titulojogo {
    background: linear-gradient(100deg, rgba(0, 58, 183, 1) 0%, rgba(0, 102, 193, 1) 100%);
    z-index: 1;
}

.nav-list.active {
    transform: translateX(0);
}

@media (max-width: 1100px) {
    body {
        overflow-x: hidden;
    }
    #titulo-pagina {
        margin-right: 10%;
    }
    nav {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    .nav-list {
        z-index: 1;
        position: fixed;
        top: 55px;
        right: 0;
        width: 100vw;
        height: 100%;
        background: #131313;
        display: block;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
    }
    #container {
        margin-top: 105px;
    }
    .fundo-mode {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mode {
        font-size: 30px;
    }
    #login {
        font-size: 30px;
    }
    .jogos {
        width: 140px;
        height: 140px;
    }
    .nav-list li {
        margin-top: 70px;
        margin-bottom: 50px;
        margin-left: 0;
        opacity: 0;
        height: auto;
        font-size: 25px;
    }
    .mobile-menu {
        display: block;
    }
    .nav-list li:hover {
        box-shadow: 0px 0px 0px transparent inset;
    }
    .titulojogo {
        width: 140px;
        height: 140px;
        margin-top: 0;
    }
    #jogos {
        box-shadow: 0px -3px 0px #154cbb00 inset;
    }
}